#i1 {
  position: relative;
}
#i2 {
  position: relative;
}
#i3 {
  position: relative;
}
.sconto30 {
    background-color: green;
    width: 35px;
    height: 18px;
    position: absolute;
    right:4px;
}
.sconto5 {
    background-color: red;
    width: 28px;
    height: 18px;
    position: absolute;
    right:4px;
}
