#i1 {
  position: relative;
}
#i2 {
  position: relative;
}
#i3 {
  position: relative;
}
#riga1 {
  padding-bottom: 15px;
}
.sconto30 {
    background-color: green;
    width: 35px;
    height: 18px;
    position: absolute;
    right:4px;
}
.sconto5 {
    background-color: red;
    width: 28px;
    height: 18px;
    position: absolute;
    right:4px;
}
#pref {
  width: 23px;
  position: absolute;
  left: 50%;
  bottom: 4px;
  display: none;
}
#i1:hover #pref{
  display: block;
}
#i2:hover #pref{
  display: block;
}
#i3:hover #pref{
  display: block;
}
em {
  position: absolute;
  left: 376px;
  bottom: 170px;
}
